#tdRecord {
	font-weight:bold;
	line-height:1.5;
	font-size:22px;
	font-family:arial;
	padding:15px;
	margin:15px;
	vertical-align:top;
	color: #0F1C46;
}
.tabs {
	display:inline;	
	margin:5px;
	overflow: hidden;
	float: left;
	padding:5px;
}
.tabs:hover {
	opacity:.5;
	cursor: pointer;
}
.activeTab {
	background-color:#b9bbc9;
}
.tabContent {
	padding: 15px;
	border: 1px solid #b9bbc9;
}

.heading {
	font-size:24px;
	font-family: arial;
	font-weight: bold;
	margin: 15px;
	color: #0F1C46;
	vertical-align: middle;
}
.game {
	border:1px #b9bbc9 solid;
	border-radius: 3px;
	padding: 3px;
	margin: 5px;
	color: #0F1C46;
}
.logo {
	height: 25px;
	margin: 5px;
}
.team {
	font-family: arial;
	margin: 5px;
	color: #0F1C46;
}
.winner {
	font-weight: bold;
}
.score {
	text-align: right;
	color: #0F1C46;
}
.button {
	color: #0F1C46;
	font-size: 24px;
	font-weight: bold;
	border:1px #0F1C46 solid;
	border-radius: 3px;
	margin: 5px;
	padding: 5px;
	width: 100px;
	text-align: center;
	font-family: arial;
	cursor: pointer;
}
.button:hover {
	opacity:.5;
}
.ImgBtn {
	height: 75px;
	cursor: pointer;
}
.ImgBtn:hover {
	opacity:.5;
}
.close {
	 border:0px white solid;
	 width:15px;
}
